body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.magnify{
    position: absolute;
}

/*Lets create the magnifying glass*/
.large{
    position: absolute;
    border-radius: 100%;

    /*Load the background image*/
    background: url('placeholder.png') no-repeat;

    image-rendering: pixelated;

    /*hide the glass by default*/
    display: none;

    /*hide the cursor*/
    cursor: none;

}

/*To solve overlap bug at the edges during magnification*/
.small {
    display: block;
}
