body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.magnify{
    position: absolute;
}

/*The magnifying glass*/
.large{
    position: absolute;
    border-radius: 100%;

    /*Load the placeholder image in case the image somehow failed to load*/
    background: url('placeholder.jpg') no-repeat;

    /*hide the glass by default*/
    display: none;

    /*hide the cursor*/
    cursor: none;

}

/*To solve overlap bug at the edges during magnification*/
.small {
    display: block;
}
